@templateDefaultWidth: 960px;
@footerHeight: 30px;

@smallFont: 11px;
@normalFont: 14px;

@tamanhoDivGrafico: 48%;

.verticalAlignSuper {
  vertical-align: super;
}

.verticalAlignSub {
  vertical-align: sub;
}

.loginInfo {
  font-size: @smallFont;
  line-height: @footerHeight;
  margin: 0px;
}

.grafico {
  width: @tamanhoDivGrafico;
  margin-right: 1%;
}

.registros-table {
  font-size: @smallFont;

  input {
    font-size: inherit;
  }

  form {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  strong {
    margin: 5px;
  }
  input {
    width: 90%;
    height: 90%;
    margin: 2px;
    padding: 0;
    min-width: 50px;
  }

  td {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
  th {
    text-align: center;
    vertical-align: middle;
  }
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-@footerHeight); /* the bottom margin is the negative value of the footer's height */
}

.footer {
  background-color: #f2f2f2;
  padding: 0 20px 0 20px;
}

.footer, .push {
  height: @footerHeight; /* .push must be the same height as .footer */
}

