#{extends 'principal.html'/}

<div class="row">
    <table class="table table-bordered table-condensed table-hover registros-table">
        <thead>
        <tr>
            <th></th>
            <th>&{'jan'}</th>
            <th>&{'fev'}</th>
            <th>&{'mar'}</th>
            <th>&{'abr'}</th>
            <th>&{'mai'}</th>
            <th>&{'jun'}</th>
            <th>&{'jul'}</th>
            <th>&{'ago'}</th>
            <th>&{'set'}</th>
            <th>&{'out'}</th>
            <th>&{'nov'}</th>
            <th>&{'dez'}</th>
            <th>&{'total.realizado'}</th>
            <th>&{'meta.anual'}</th>
            <th>&{'ref.comp'}</th>
        </tr>
        </thead>
        <tbody>
        #{list indicador.meta.anosComRegistro(), as: 'ano'}
        <tr>
            <td><strong>${ano}</strong></td>
          #{list 1..12, as: 'mes'}
              <td>
                  <form class="registro-listener">
                      <input type="hidden" name="registro.id"
                             value="${indicador.pegaOuCriaRegistro(ano, mes).id}"/>
                      <input class="input-valor" type="text" name="registro.valor"
                             value="${indicador.pegaOuCriaRegistro(ano, mes).valor}"/>
                  </form>
              </td>
          #{/list}
            <td>
                <form class="total-listener">
                    <input type="hidden" name="totalRealizado.id"
                           value="${indicador.pegaOuCriaTotalRealizado(ano).id}"/>
                    <input class="input-valor" type="text" name="totalRealizado.valor"
                           value="${indicador.pegaOuCriaTotalRealizado(ano).valor}"/>
                </form>
            </td>
            <td>
                <form class="meta-listener">
                    <input type="hidden" name="valorAnual.id"
                           value="${indicador.meta.metaDo(ano).id}"/>
                    <input class="input-valor" type="text" name="valorAnual.valor"
                           value="${indicador.meta.metaDo(ano).valor}"/>
                </form>
            </td>
            <td>
                <form class="referencial-listener">
                    <input type="hidden" name="referencialComparativo.id"
                           value="${indicador.pegaOuCriaReferencialComparativo(ano).id}"/>
                    <input class="input-valor" type="text" name="referencialComparativo.valor"
                           value="${indicador.pegaOuCriaReferencialComparativo(ano).valor}"/>
                </form>
            </td>
        </tr>

        #{/list}
        </tbody>
    </table>
</div>

#{set 'moreScripts'}
  #{script 'indicadores-valores.js'/}
  #{script 'jquery.numeric.js'/}
<script type="text/javascript">
    $(function () {
        $('.input-valor')
                .numeric(${indicador.formato.toString() != 'Inteiro'})
                .each(function () {
                    if (${indicador.formato.toString() == 'Inteiro'}) {
                        this.value = Number(this.value).toFixed(0);
                    }
                });


        var registros = #{jsRoute @Indicadores.salvarRegistroIndicador()/};
        var totais = #{jsRoute @Indicadores.salvarTotalRealizado()/};
        var referenciais = #{jsRoute @Indicadores.salvarReferencialComparativo()/};
        var metas = #{jsRoute @Metas.salvaValorAnual()/};
        adicionaListeners(registros, '.registro-listener');
        adicionaListeners(totais, '.total-listener');
        adicionaListeners(referenciais, '.referencial-listener');
        adicionaListeners(metas, '.meta-listener');
    });
</script>
#{/set}