#{extends 'principal.html'/}

#{set 'moreScripts'}
<script type="text/javascript">
    var chart;
    $(document).ready(function () {
        var jsonData = #{jsRoute @Indicadores.visualizarJson(':id') /};
        $.ajax({
            url: jsonData.url({id: ${indicador.id}}),
            method: jsonData.method
        }).done(function (data) {
                    var cats = new Array();
                    var series = new Array();
                    for (x in data.eixoX.categorias) {
                        cats.push(data.eixoX.categorias[x].descricao);
                    }

                    for (x in data.series) {
                        var obj = {
                            name: data.series[x].nome,
                            data: data.series[x].valores
                        }
                        series.push(obj);
                    }


                    chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'grafico',
                            type: data.tipoGrafico
                        },
                        title: {
                            text: data.titulo.titulo
                        },
                        xAxis: {
                            categories: cats
                        },
                        yAxis: {
                            title: {
                                text: data.eixoY.titulo.titulo
                            }
                        },
                        series: series
                    });

                });


    });
</script>
#{/set}

<div id="grafico">

</div>
