#{extends 'principal.html'/}
#{set title: 'Perspectivas'/}


#{form @salvar(), method:'POST'}
<fieldset>
    <legend>&{'nova.perspectiva'}</legend>
  #{mostraErro /}
  #{field 'perspectiva.id'}
      <input type="hidden" id="${field.id}" name="${field.name}" value="${field.value}">
  #{/field}
  #{field 'perspectiva.descricao'}
      <p>
          <label>&{field.name}</label>
          <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" required/>
          <span class="text-error verticalAlignSuper">${field.error}</span>
      </p>
  #{/field}

    <p><input type="submit" value="&{'cadastrar'}" class="btn btn-primary"></p>
</fieldset>
#{/form}
