<!DOCTYPE html>
<html>
<head>
    <title>#{get 'titulo' /}</title>
    <meta charset="${_response_encoding}">
    <link type="text/css" rel="stylesheet" href="@{'/public/bootstrap/css/bootstrap.min.css'}"/>
    <link type="text/css" rel="stylesheet" href="@{'/public/stylesheets/main.less'}"/>
#{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
</head>
<body>
<div class="wrapper">
    <div class="container">

        <div class="header row">
        #{cabecalho /}
        </div>

        <div class="content">
        #{mensagens /}
        #{doLayout /}
        </div>

        <div class="push"></div>
    </div>
</div>
<div class="footer">
#{rodape /}
</div>

<script type="text/javascript" src="@{'/public/javascripts/jquery-1.8.3.min.js'}"
        charset="${_response_encoding}"></script>
<script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap.min.js'}"
        charset="${_response_encoding}"></script>
<script type="text/javascript" src="@{'/public/highcharts/js/highcharts.js'}" charset="${_response_encoding}"></script>
<script type="text/javascript" src="@{'/public/highcharts/js/themes/gray.js'}" charset="${_response_encoding}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("[rel=tooltip]").length) {
            $("[rel=tooltip]").tooltip();
        }
    });
</script>
#{get 'moreScripts' /}
</body>
</html>
