#{extends 'principal.html'/}
#{set title: 'Perspectivas'/}

#{a @Objetivos.cadastroObjetivo()}&{'novo.objetivo'}#{/a}
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>&{'descricao'}</th>
        <th>&{'perspectiva'}</th>
        <th>&{'acoes'}</th>
    </tr>
    </thead>
    <tbody>
    #{list objetivos}
    <tr>
        <td>${_.descricao}</td>
        <td>${_.perspectiva.nome}</td>
        <td>
          #{a @Objetivos.editar(_.id)}
              <but class="icon-edit"/>#{/a}
            #{a @Objetivos.apagar(_.id)}<span class="icon-remove"/>#{/a}
        </td>
    <tr>

    #{/list}
    </tbody>
</table>